absl-py==0.11.0
appdirs==1.4.4
apturl==0.5.2
attrs==19.3.0
Automat==0.8.0
blinker==1.4
catfish==1.4.13
certifi==2019.11.28
cffi==1.14.4
chardet==3.0.4
Click==7.0
cloud-init==20.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.3.2
cupshelpers==1.0
cycler==0.10.0
dataclasses==0.6
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
entrypoints==0.3
filelock==3.0.12
graphviz==0.16
httplib2==0.19.0
hyperlink==19.0.0
idna==2.8
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==1.5.0
incremental==16.10.1
jeepney==0.6.0
Jinja2==2.11.3
joblib==1.0.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==21.8.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.2
lxml==4.6.2
macaroonbakery==1.3.1
MarkupSafe==1.1.0
matplotlib==3.3.3
mediapipe==0.8.0
menulibre==2.2.1
more-itertools==4.2.0
mugshot==0.4.2
netifaces==0.10.4
numpy==1.19.4
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
opencv-python==3.4.11.45
pandas==1.2.0
pbr==5.5.1
pexpect==4.6.0
Pillow==8.1.0
protobuf==3.13.0
psutil==5.8.0
py-trees==2.1.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycparser==2.20
pycups==1.9.73
pydot==1.4.1
pyeda==0.28.0
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
pytz==2019.3
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
scikit-learn==0.24.0
scipy==1.6.0
SecretStorage==3.3.0
service-identity==18.1.0
sgt-launcher==0.2.5
simplejson==3.16.0
six==1.14.0
sklearn==0.0
sos==4.0
ssh-import-id==5.10
systemd-python==234
testresources==2.0.1
threadpoolctl==2.1.0
Twisted==20.3.0
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
virtualenv==20.2.2
wadllib==1.3.3
xcffib==0.8.1
xkit==0.0.0
zipp==1.0.0
zope.interface==4.7.1
